$highlight-color: rgba(#108aee, 0.5);
$transition-speed: 0.2s;
$default-edge-color: #858585;

:host {
  flex: 1;
  display: flex;
  align-content: center;
  position: relative;
  user-select: none;

  &.split {
    padding-top: 1.2rem;

    &::before {
      transition: border-left-color $transition-speed ease;
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 2px solid $default-edge-color;
      height: 1.2rem;
      width: 0;
      z-index: 1;
    }

    & > .node {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:last-child::after,
      &:first-child::after {
        transition: border-top-color $transition-speed ease;
        content: '';
        position: absolute;
        top: 0;
        border-top: 2px solid $default-edge-color;
        width: 50%;
        height: 12px;
        z-index: 1;
      }
    
      &:last-child::after {
        right: 50%;
      }
    
      &:first-child::after {
        left: 50%;
      }
    }
  }

  &:not(.first) {
    .node {
      &::before {
        transition: border-left-color $transition-speed ease;
        content: '';
        top: 0;
        left: 50%;
        border-left: 2px solid $default-edge-color;
        height: 1.2rem;
        width: 0;
        z-index: 1;
      }
    }
  }
}

.card-wrapper {
  width: 16rem;
  display: flex;
  position: relative;

  .node-type {
    text-transform: uppercase;
  }

  .node-summary {
    line-height: 80%;
    padding-top: 0.25rem;
  }

  .card {
    margin: auto;
    width: 14rem;
    transition: box-shadow $transition-speed ease;
    z-index: 1;
    border-width: 2px;
  
    .card-body {
      padding: 0.5rem;
      .card-title {
        font-size: 0.7rem;
      }
    }
  }
  
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &.selected {
    @extend .highlighted;
    & > .card-wrapper {
      .node-type {
        font-weight: bold;
      }

      .card {
        border-color: $highlight-color;
      }
    }
  }

  &.highlighted {
    & > .card-wrapper .card {
      box-shadow: 0 0 0 0.3rem $highlight-color !important;
    }

    app-node {

      &::before {
        border-left-color: $highlight-color;
      }

      .node {
        &::after {
          border-color: $highlight-color;  
        }

        &::before {
          border-left-color: $highlight-color;
        }
      }
    }
  }
}
