<div class="container text-light pt-3 pb-3 d-flex flex-column align-items-center">
  <div class="cover d-flex h-50 w-100 pl-4 pr-4">
    <div class="block mt-auto mb-auto w-100">
      <h5><b>NANYANG TECHNOLOGICAL UNIVERSITY</b></h5>
      <h1 class="display-4">Visual Exploration of<br> Query Execution Plans</h1>
      <h5><strong>CZ4031 Database System Principles</strong></h5>
    </div>
  </div>
  <table class="table table-borderless flex-grow-1 m-auto">
    <tbody>
      <tr>
        <td>
          <strong>TU ANQI</strong>
          <br>ATU001@e.ntu.edu.sg
          <br>U1622399F
        </td>
        <td>
          <strong>CASTILLO, CLARENCE FITZGERALD GUMTANG</strong>
          <br>CLARENCE001@e.ntu.edu.sg
          <br>U1622291F
        </td>
      </tr>
      <tr>
        <td>
          <strong>TEO TIAN SHUN KENNETH</strong>
          <br>TEOT0019@e.ntu.edu.sg
          <br>U1622217D
        </td>
        <td>
          <strong>CHRISTOPHER GERARD TOH WEI HONG</strong>
          <br>CTOH012@e.ntu.edu.sg
          <br>U1622135D
        </td>
      </tr>
    </tbody>
  </table>
</div>